/* :root {
  --dark: rgb(65, 79, 80);
  --yellow: rgb(245, 199, 99);
  --pink: rgb(59, 59, 59);
  --grey: rgb(255, 255, 255);
  --dela: "Raleway", sans-serif;
  --mons: "Montserrat", sans-serif;
}

body {
  background-color: var(--dark);
}

a:visited {
  color: var(--yellow);
}

.header,
.dashboard,
.account,
.map,
.paths,
.newpath,
h4,
p,
label,
button,
.form-group {
  background-color: var(--dark);
  color: var(--yellow);
  font-family: var(--dela);
}

.nav {
  font-family: var(--mons);
}

main {
  display: flex;
}

.signup {
  color: white;
} */
